$black: #000000;
$white: #ffffff;
$white100: #f6f6f6;
$white50: #f6f6f6;
$babyBlue: #365780;
$beige50: #dbd0c8;
$beige: #f1debd;
$beige100: #e0c89e;
$primary: rgb(255, 126, 49, 0.8);
$grey50: #d5d5d5;
$grey: #707070;
$grey100: #6a6a6a;
$green: #7bb463;
