@import "colors";
@import "typography";
@import "mixins";

.luftborn-form {
  .luftborn-form-group {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    @include normal-screen {
      margin-bottom: 1.5rem;
    }

    label,
    .address-label {
      display: block;
      font-size: rem(14px);
      font-family: $regular;
      color: $black;
      text-transform: capitalize;
    }

    input,
    textarea,
    select,
    .address-input {
      width: 100%;
      outline: none;
      border: solid 1px rgba($primary, 20%);
      border-top-right-radius: 10px !important;
      border-bottom-left-radius: 10px !important;
      border-radius: 0;
      margin-top: 0.6rem;
      padding: 0.5rem;
      font-size: rem(14px);
      font-family: $semiBold;
      color: $black;
      background-color: rgba($primary, 15%);
    }

    textarea {
      border-radius: 0;
      height: 10vh;
    }

    .errors-container {
      position: absolute;

      .errors {
        color: #e4021b;
        font-family: $bold;
        text-transform: capitalize;
        font-size: rem(14px);
      }
    }

    input.ng-invalid.ng-touched,
    textarea.ng-invalid.ng-touched {
      border: solid 1px #e4021b;
    }
  }

  .luftborn-form-footer {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    position: relative;

    input {
      width: 100%;
      position: relative;
      background-color: transparent;
      margin-top: 0;
      @include flexCenter;
      outline: none;
      border: none;

      &::placeholder {
        @include flexCenter;
        padding: 0;
        color: $black;
        opacity: 29%;
      }
    }
    .errors-container {
      position: relative;

      .errors {
        color: #e4021b;
        font-family: $bold;
        text-transform: capitalize;
        font-size: rem(14px);
      }
    }
  }
}
