<div class="lower-part py-4">
  <div class="loftborn-container">
    <div class="row align-items-center justify-content-between">
      <div class="col-xl-5 col-lg-6">
        <div class="logo">
          <img
            routerLink="/"
            src="../../../../../assets/imgs/NavLogo.17261d69.svg"
            alt=""
          />
          <div class="description">
            <span
              >We provide you with advice in the designing, development, and
              implementation of your software. We also give guidance in terms of
              product enhancements and bug fixing to bring your users the
              experience they deserve.</span
            >
          </div>
        </div>
      </div>

      <div class="col-xl-2 col-lg-3 col-6">
        <ul>
          <li>
            <a class="" class="curosor">
              <img
                src="../../../../../assets/imgs/Icon ionic-logo-facebook.png"
                class="social"
              />
            </a>
          </li>
          <li>
            <a class="curosor">
              <img
                src="../../../../../assets/imgs/Icon awesome-instagram.png"
                class="social"
              />
            </a>
          </li>
          <li>
            <a class="curosor">
              <img
                src="../../../../../assets/imgs/Icon ionic-logo-linkedin.png"
                class="social"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
