@import "../../../../../assets/styles//base/colors";
@import "../../../../../assets/styles/base/typography";
@import "../../../../../assets/styles/base/mixins";

.lower-part {
  padding: 2.5rem 0;
  background-color: $black;
  .social {
    cursor: pointer;
  }
  .logo {
    img {
      width: 37vw;
      @include medium-screen {
        width: auto;
      }
    }
  }
  .description {
    span {
      color: $beige;
      font-family: $light;
      display: block;
      margin: 1.5rem 0 1rem 0;
      @include normal-screen {
        max-width: 85%;
      }
      @include large-screen {
        max-width: 70%;
      }
    }
  }
  ul {
    margin-top: 1rem !important;
    li {
      padding-bottom: 1rem;
      a {
        color: $beige;
        font-family: $light;
        font-size: 0.875rem; //14px
      }
    }
  }
}
