<div class="notes my-5 py-5">
  <div class="loftborn-container">
    <div class="row">
      <div class="d-flex justify-content-end align-items-end">
        <button
          type="submit"
          class="orange-btn"
          routerLink="/notes/create-note"
        >
          Create Note
        </button>
      </div>
      <!-- <div class="col-lg-3 col-md-6 col-12 my-2">
        <app-notes-item></app-notes-item>
      </div> -->
      <h4 class="text-center my-3">You have no notes Yet !!</h4>
    </div>
  </div>
</div>
